{% extends 'template.html' %}

{% block title %}
About Me
{% endblock %}

{%block content%}

<div class="container">
  <h1> About Me </h1>
</div>

<section class="bg-light text-dark p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="container p-2">
        <h1>Education</h1>
        <h4> Harrow School </h4>
        <p> GCSE: 8A* 3A 1B </p>
        <p> A level: 4A* 1A </p>
        <p> Subjects: Maths, Further Maths, Physics, Chemistry, Design & Technology</p>

      </div>
      <img class="img-fluid" src="static\img\Harrow_logo.png" alt="" width="100" >

      <div class="container p-2">
        <h4> Oxford University  </h4>
        <p> Engineering Science, MEng, 2.i achieved </p>
        <p> Modules: Control, Computer Vision, Probability & Statistics </p>

      </div>
      <img class="img-fluid" src="static\img\Oxford_logo.png" alt="" width="100">
    </div>
  </div>
</section>

<section class="bg-white text-dark p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="container p-2">
        <h2> Work Experience </h2>
        <h4> HG Molenaar</h4>
        <p> 
          In 2018 I did a 2 week internship in a engineering firm which made industrial food processors in Paarl South Africa. I was both working on the factory floor to understand the processes that are used to make their products as well as working with the engineering team looking at how they develop their machines
        </p>      
        <h4> Umaniah </h4>
        <p> 
          In 2020 I completed a remote internship with Umaniah, a Jordanian telecoms company, I was mainly working with databases and caching
        </p>
        <h4> Ariya Finergy</h4>
        <p> 
            From July to December 2021 worked for Ariya finergy 
        </p>
        <h4> Kubrick Group</h4>
        <p> 
            From June 2022 worked for the Kubrick Group first training in machine learning engineering. Then completing projects for in life science and pharmaceuticals 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light text-dark p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="container p-2">
        <h2> Coding Experience </h2>
        <h4>UCLA</h4>
        <p> 
          In 2017 I did a 2 week pre-university course at UCLA working to make self driving cars from taking apart remote control cars and attaching sensors and an arduino to control its direction
        </p>      
        <h4> At University </h4>
        <p> 
          At Oxford I did a number of coding projects in Matlab, C++ and Python
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white text-dark p-5 text-center text-sm-start">
  <div class="container">
    <h1> CV </h1>
    <p> My CV can be found below</p>
    <p> Open the file <a href="/static/pdf/CV.pdf">here</a>.</p>
    <embed src="/static/pdf/CV.pdf" width="800px" height="900px" />
</section>

{%endblock%}
