<link rel="stylesheet" href="static/css/chess.css">
<script src="static/js/chess.js"></script>
 <!-- jqueery for ajax -->
 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


{% extends 'template.html' %}

{% block title %}
Chess
{% endblock %}

{%block content%}

<div class="container">
  <h1> Chess </h1>
  <p> On this page you can play a chess computer.</p>
  
  <p> 
    row = <span id="row"></span> ,
    col = <span id="col"></span>
  </p>

  <p> 
    top = <span id="top"></span> ,
    left = <span id="left"></span> ,
    piece = <span id="piece"></span>

  </p>
</div>

<div class = "center">
  <div class = "container"  id="chessBoard">
    <img src="static\img\pieces\bR.png" id="bR1" alt="black rook1" height="80" width="80">
    <img src="static\img\pieces\bN.png" id="bN1" alt="black knight1" height="80" width="80">
    <img src="static\img\pieces\bB.png" id="bB1" alt="black bishop1" height="80" width="80">
    <img src="static\img\pieces\bK.png" id="bK" alt="black king" height="80" width="80">
    <img src="static\img\pieces\bQ.png" id="bQ" alt="black queen" height="80" width="80">
    <img src="static\img\pieces\bB.png" id="bB2" alt="black bishop2" height="80" width="80">
    <img src="static\img\pieces\bN.png" id="bN2" alt="black knight2" height="80" width="80">
    <img src="static\img\pieces\bR.png" id="bR2" alt="black rook2" height="80" width="80">

    <img src="static\img\pieces\bP.png" id="bP1" alt="black Pawn1" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP2" alt="black Pawn2" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP3" alt="black Pawn3" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP4" alt="black Pawn4" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP5" alt="black Pawn5" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP6" alt="black Pawn6" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP7" alt="black Pawn7" height="80" width="80">
    <img src="static\img\pieces\bP.png" id="bP8" alt="black Pawn8" height="80" width="80">

    <img src="static\img\pieces\wR.png" id="wR1" alt="white rook1" height="80" width="80">
    <img src="static\img\pieces\wN.png" id="wN1" alt="white knight1" height="80" width="80">
    <img src="static\img\pieces\wB.png" id="wB1" alt="white bishop1" height="80" width="80">
    <img src="static\img\pieces\wK.png" id="wK" alt="white king" height="80" width="80">
    <img src="static\img\pieces\wQ.png" id="wQ" alt="white queen" height="80" width="80">
    <img src="static\img\pieces\wB.png" id="wB2" alt="white bishop2" height="80" width="80">
    <img src="static\img\pieces\wN.png" id="wN2" alt="white knight2" height="80" width="80">
    <img src="static\img\pieces\wR.png" id="wR2" alt="white rook2" height="80" width="80">

    <img src="static\img\pieces\wP.png" id="wP1" alt="white Pawn1" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP2" alt="white Pawn2" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP3" alt="white Pawn3" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP4" alt="white Pawn4" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP5" alt="white Pawn5" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP6" alt="white Pawn6" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP7" alt="white Pawn7" height="80" width="80">
    <img src="static\img\pieces\wP.png" id="wP8" alt="white Pawn8" height="80" width="80">
  </div>
</div>



{%endblock%}
