<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/chess.css">
    
    <title>Chess</title>
  </head>

  <body>
    {% extends 'template.html' %}

    {%block content%}

    <div class="container">
      <h1> Chess </h1>
      <p> On this page you can play a chess computer.</p>
      
      <p> 
        row = <span id="row"></span> ,
        col = <span id="col"></span>
      </p>

      <p> 
        top = <span id="top"></span> ,
        left = <span id="left"></span> ,
        piece = <span id="piece"></span>

      </p>

    </div>
    
    <div class = "container"  id="chessBoard">
      <img src="static\img\pieces\bR.png" id="bR1" alt="black rook1" height="80" width="80">
      <img src="static\img\pieces\bN.png" id="bN1" alt="black knight1" height="80" width="80">
      <img src="static\img\pieces\bB.png" id="bB1" alt="black bishop1" height="80" width="80">
      <img src="static\img\pieces\bK.png" id="bK" alt="black king" height="80" width="80">
      <img src="static\img\pieces\bQ.png" id="bQ" alt="black queen" height="80" width="80">
      <img src="static\img\pieces\bB.png" id="bB2" alt="black bishop2" height="80" width="80">
      <img src="static\img\pieces\bN.png" id="bN2" alt="black knight2" height="80" width="80">
      <img src="static\img\pieces\bR.png" id="bR2" alt="black rook2" height="80" width="80">

      <img src="static\img\pieces\bP.png" id="bP1" alt="black Pawn1" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP2" alt="black Pawn2" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP3" alt="black Pawn3" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP4" alt="black Pawn4" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP5" alt="black Pawn5" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP6" alt="black Pawn6" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP7" alt="black Pawn7" height="80" width="80">
      <img src="static\img\pieces\bP.png" id="bP8" alt="black Pawn8" height="80" width="80">

      <img src="static\img\pieces\wR.png" id="wR1" alt="white rook1" height="80" width="80">
      <img src="static\img\pieces\wN.png" id="wN1" alt="white knight1" height="80" width="80">
      <img src="static\img\pieces\wB.png" id="wB1" alt="white bishop1" height="80" width="80">
      <img src="static\img\pieces\wK.png" id="wK" alt="white king" height="80" width="80">
      <img src="static\img\pieces\wQ.png" id="wQ" alt="white queen" height="80" width="80">
      <img src="static\img\pieces\wB.png" id="wB2" alt="white bishop2" height="80" width="80">
      <img src="static\img\pieces\wN.png" id="wN2" alt="white knight2" height="80" width="80">
      <img src="static\img\pieces\wR.png" id="wR2" alt="white rook2" height="80" width="80">

      <img src="static\img\pieces\wP.png" id="wP1" alt="white Pawn1" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP2" alt="white Pawn2" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP3" alt="white Pawn3" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP4" alt="white Pawn4" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP5" alt="white Pawn5" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP6" alt="white Pawn6" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP7" alt="white Pawn7" height="80" width="80">
      <img src="static\img\pieces\wP.png" id="wP8" alt="white Pawn8" height="80" width="80">
    </div>

  
    <script>
      //Make the DIV element draggagle:
      blackPieces = ["bQ","bK","bR1","bN1","bB1","bR2","bN2","bB2","bP1","bP2","bP3","bP4","bP5","bP6","bP7","bP8", ]
      whitePieces = ["wQ","wK","wR1","wN1","wB1","wR2","wN2","wB2","wP1","wP2","wP3","wP4","wP5","wP6","wP7","wP8" ]

      for (let i = 0; i < blackPieces.length; i++) {
        dragElement(document.getElementById(blackPieces[i]));
      }
      for (let i = 0; i < whitePieces.length; i++) {
        dragElement(document.getElementById(whitePieces[i]));
      }
      
      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        var piece=0,  top =0, left=0,  col=0, row=0;
        var myJSON = [];
        if (document.getElementById(elmnt.id + "header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } 
        else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }
          
        function dragMouseDown(e) {
          console.log(1)

          e = e || window.event;
          e.preventDefault();
          // get the mouse cursor position at startup:
          pos3 = e.clientX;
          pos4 = e.clientY;

          document.onmouseup = closeDragElement;

          // call a function whenever the cursor moves:
          document.onmousemove = elementDrag;
          piece = elmnt.id;

          pieceDetails()
          console.log(myJSON)

        }
          
        function elementDrag(e) {
          e = e || window.event;
          e.preventDefault();
          // calculate the new cursor position:
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          // set the element's new position:
          elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";

        }

        function pieceDetails(e) {

          top = (elmnt.offsetTop - pos2)+40;
          left = (elmnt.offsetLeft - pos1)+40;

          // col = ["a","b","c","d","e","f","g","h"]
          // row = ["1","2","3","4","5","6","7","8"]
          // col[int(left/100)]
          // row[int(top/100)]

          if (left > 0 && left <= 100) {
            col = "a";
          } else if (left > 100 && left <= 200) {
            col = "b";
          } else if (left > 200 && left <= 300) {
            col = "c";
          } else if (left > 300 && left <= 400) {
            col = "d";
          } else if (left > 400 && left <= 500) {
            col = "e";
          } else if (left > 500 && left <= 600) {
            col = "f";
          } else if (left > 600 && left <= 700) {
            col = "g";
          } else if (left > 700 && left <= 800) {
            col = "h";
          }
          
          if (top > 0 && top < 100) {
            row = "8";
          } else if (top > 100 && top <= 200) {
            row = "7";
          } else if (top > 200 && top <= 300) {
            row = "6";
          } else if (top > 300 && top <= 400) {
            row = "5";
          } else if (top > 400 && top <= 500) {
            row = "4";
          } else if (top > 500 && top <= 600) {
            row = "3";
          } else if (top > 600 && top <= 700) {
            row = "2";
          } else if (top > 700 && top <= 800) {
            row = "1";
          }

          document.getElementById("top").innerHTML = top;
          document.getElementById("left").innerHTML = left;
          document.getElementById("piece").innerHTML = piece;
          document.getElementById("col").innerHTML = col;
          document.getElementById("row").innerHTML = row;

          const obj = {piece: piece, row: row, col: col};
          myJSON = JSON.stringify(obj);
        }
        
        function closeDragElement() {
          /* stop moving when mouse button is released:*/

          console.log(2)
          pieceDetails()
          console.log(myJSON)

          document.onmouseup = null;
          document.onmousemove = null;

        }
      }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    {%endblock%}
  </body>  
</html>