{% extends 'template.html' %}

{% block title %}
Image Recognition
{%endblock%}

{%block content%}
<div class="container">
  <h1> Sudoku Recognition </h1>
  <p> On this page you can upload an image and seach for particular features in the image</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>
      <hr>

      <form action="/upload_img" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>

        <input type="submit""></input>

      </form>
      
      <div>
        <img class="img-fluid" src="static\img\Sudoku2.png" alt="">
      </div>

    </div>
  </div>
</div>
<pre>

  
</pre>
{%endblock%}
