{% extends 'template.html' %}

{% block title %}
Image Recognition
{%endblock%}

{%block content%}
<div class="container">
  <h1> Sudoku Recognition </h1>
  <p> On this page you can upload an image and seach for particular features in the image</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>

      <section class="bg-secondary text-light p-5 text-center text-sm-start">
        <div class="container">
            <title>Upload new File</title>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
      </section>

      <pre>


      </pre>

      <div>
        <img class="img-fluid" src="static\img\Sudoku2.png" alt="">
      </div>

    </div>
  </div>
</div>
<pre>

  
</pre>
{%endblock%}
