<link rel="stylesheet" href="static/css/sudoku.css">
<script src="static/js/sudoku.js"></script>
<meta name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no">

{% extends 'template.html' %}

{% block title %}
Image Recognition
{%endblock%}

{%block content%}
<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between">
    <div class="container p-2">
      <div class="container">
        <h1> Sudoku Recognition </h1>
        <p> On this page you can upload an image and seach for particular features in the image</p>
      </div>
    </div>
    <img class="img-fluid" src="static\img\Sudoku.png" alt="">
  </div>
</div>


<center>
  <style>
    table { border-collapse: collapse; font-family: Calibri, sans-serif; }
    colgroup, tbody { border: solid medium; }
    td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }
  </style>

<section class="bg-secondary text-light p-5 text-center text-sm-start">
  <div class="container">
    <h1>Generate new puzzle</h1>
    <button type="button"> Generate! </button>    
  </div>

</section>

<br>
<!-- Sudoku -->
<div class = "center">

    <!-- 9x9 board -->
    <div id="board"></div>
    <br>
    <div id="digits"></div>
    <h2 id="errors">Error Count:  0</h2>

</div>
</center>

<br>

<section class="bg-secondary text-light p-5 text-center text-sm-start">
  <div class="container">
    <h1>Upload an image</h1>

    <title>Upload new file</title>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
  </div>
</section>



<pre>


</pre>


{%endblock%}
